//
// general.scss
//

#root {
  // display: flex;
  // align-items: center;
  // justify-items: center;
  background: var(--main-bg-color);
}
html {
  background: var(--main-bg-color);
}
.MuiTypography-root {
  font-family: $font-primary !important;
}

.MuiChip-label {
  font-family: $font-primary !important;
}
a {
  text-decoration: none !important;
  outline: none;
  color: $primary;
}
body {
  font-family: $font-primary !important;
  color: $dark;
  background: $white;
}
p {
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
}

@media (min-width: 1400px) {
  .container {
    max-width: 85vw;
  }
}

body {
  overflow-y: overlay;
}
.flex-culomn {
  display: flex;
  flex-direction: column;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-grow-0 {
  flex-grow: 0;
}

.border-1 {
  border-width: 1px;
}
