#layout1 {
  height: 96vh;
  display: flex;
  flex-direction: column;
  margin-top: auto !important;
  margin-bottom: auto !important;
  justify-content: center;

  #main-container {
    flex-grow: 1;
  }
}
