#sidebar {
  nav {
    overflow: auto;
    max-height: fit-content;
    height: 80%;
    &::-webkit-scrollbar {
      width: 0em;
      height: 0em;
    }
    // &::-webkit-scrollbar-track-piece {
    //   padding-bottom: 2rem;
    // }
    &::-webkit-scrollbar-thumb {
      background-color: #c1c1c1 !important;
      border-radius: 5px !important;

      &:hover {
        background: #adadad !important;
      }
    }
  }
  // -webkit-box-shadow: -6px 6px 8px -1px rgba(0, 0, 0, 0.24);
  // box-shadow: -6px 6px 8px -1px rgba(0, 0, 0, 0.24);
  border-radius: 30px;
  background: linear-gradient(
    var(--menu-color) 0%,
    var(--menu-second-color) 100%
  );
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 11;
  height: 100%;
  .input {
    border-radius: 29px;
    background: #fff;
  }
  .line {
    border: 2px solid #00dff1;
    opacity: 0.5;
    margin: 0px 26px;
    margin-top: -2px;
    margin-bottom: -2px;
    border-radius: 0px;
    border-bottom: none;
  }

  .sidebar-sub-item {
    .sub-list-icon {
      stroke: var(--menu-color);
      fill: var(--menu-color);
      z-index: 11;
    }
    margin: 0px 20px;
    .MuiTouchRipple-root {
      display: none !important;
    }
    height: 40px;
    border-radius: 30px;
    .MuiListItemIcon-root {
      display: flex;
      justify-content: center;
      min-width: 30px;
    }
    background: transparent;
    transition: all 0.2s linear;

    padding-left: 10px;

    .MuiListItemText-root {
      transition: all 0.3s;
      background: transparent;
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 0px;
      border-radius: 30px;
    }
    .MuiTypography-root {
      line-height: 70px;
      color: var(--menu-text-color) !important;
      font-weight: 500;
    }

    &.Mui-selected {
      .sub-list-icon {
        stroke: var(--menu-text-color);
        fill: var(--menu-text-color);
      }
      .MuiListItemText-root {
        background: var(--menu-color) !important;
        padding-left: 15px;
      }
    }
  }
  .sidebar-item {
    .MuiSvgIcon-root {
      color: var(--menu-text-color) !important;
    }
    .MuiTouchRipple-root {
      display: none !important;
    }
    background: transparent;
    height: 90px;
    border-radius: 30px;
    .MuiListItemIcon-root {
      display: flex;
      justify-content: center;
      svg {
        stroke: var(--menu-text-color) !important;
        fill: var(--menu-text-color) !important;
      }
    }
    background: transparent;
    transition: all 0.2s linear;
    .MuiTypography-root {
      line-height: 70px;
      color: var(--menu-text-color) !important;
      font-weight: 500;
    }
    &.Mui-selected {
      .MuiListItemIcon-root {
        svg {
          stroke: var(--menu-text-color) !important;
          fill: var(--menu-text-color) !important;
        }
      }
      background: var(--menu-color) !important;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--menu-text-color);
  }

  .list-points-line:last-of-type {
    position: absolute;
    width: 2px;
    height: 3rem;
    bottom: 1px;
    /* left: -3rem; */
    background-color: var(--menu-color);
    z-index: 10;
  }
}
